@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ax03tq');
  src:  url('../fonts/icomoon.eot?ax03tq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ax03tq') format('truetype'),
    url('../fonts/icomoon.woff?ax03tq') format('woff'),
    url('../fonts/icomoon.svg?ax03tq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-builder:before {
  content: "\e90a";
}
.icon-policeman:before {
  content: "\e90b";
}
.icon-spray-gun:before {
  content: "\e90c";
}
.icon-car-3:before {
  content: "\e90d";
}
.icon-judge:before {
  content: "\e90e";
}
.icon-brokerage:before {
  content: "\e90f";
}
.icon-ux-design:before {
  content: "\e904";
}
.icon-delivery:before {
  content: "\e905";
}
.icon-hours:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-tow-truck:before {
  content: "\e908";
}
.icon-shipped:before {
  content: "\e909";
}
.icon-alarm:before {
  content: "\e900";
}
.icon-credit-card:before {
  content: "\e901";
}
.icon-delivery-truck:before {
  content: "\e902";
}
.icon-parking:before {
  content: "\e903";
}
